body {
    padding: 0;
}
#campaigns {
    width: 1200px;
    height: 180px;
    display: block;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    position: relative;
    &:before, &:after {
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        bottom: 0;
    }
    &:before {
        background: url("https://i.hizliresim.com/a1z4D2.png") scroll no-repeat left bottom;
        position: absolute;
        width: 75%;
        left: 0;
        z-index: -3;
    }
    &:after {
        background: url("https://i.hizliresim.com/a1z4D2.png") scroll no-repeat right bottom;
        width: 50%;
        right: 0;
        z-index: -1;
    }

    .item {
        height: 140px;
        display: inline-block;
        box-shadow: 0 1px 0 rgba(0,0,0,.15), 0 5px 2px rgba(0,0,0,.25);
        transform: scale(0);
        margin-right: 0px;
        width: 0;
        position: relative;
        left: 100px;
        margin: -2.7px;
        filter: blur(10px);

        &:nth-child(1) {
            background: url(https://www.burgerking.com.tr/cmsfiles/widgets/big-king-menu-12-50-tl-1.jpg?v=115) no-repeat center center / cover;
        }
        &:nth-child(2) {
            background: url(https://www.burgerking.com.tr/cmsfiles/widgets/menu-yaninda-12li-sogan-halkasi.jpg?v=115) no-repeat center center / cover;
        }
        &:nth-child(3) {
            background: url(https://www.burgerking.com.tr/cmsfiles/widgets/franchise.jpg?v=115) no-repeat center center / cover;
        }
        &:nth-child(4) {
            background: url(https://www.burgerking.com.tr/cmsfiles/widgets/ara-gelsin.jpg?v=115) no-repeat center center / cover;
        }
        &:nth-child(5) {
            background: url(https://www.burgerking.com.tr/cmsfiles/widgets/trans-yag-1.jpg?v=115) no-repeat center center / cover;
        }

        transition: all .5s;
        &:last-child {
            margin-right: 0;
        }
        &.active {
            margin: 0px;
            transform: scale(1);
            left: 0px;
            margin-right: 7px;
            filter: blur(0px);
            width: 220px;
        }
    }
    .controls {
        background: url(https://i.hizliresim.com/AyzgMX.png) no-repeat center center/contain;
        width: 100px;
        height: 39px;
        position: absolute;
        right: 50px;
        bottom: 5px;
        display: none;
        button {
            background: transparent;
            border: none;
            color: #382617;
            line-height: 54px;
            width: 13px;
            text-align: center;
            display: inline-block;
            padding: 0;
            outline: none;
        }
    }
    
}
@media screen and (max-width: 1219px) {
    #campaigns {
        width: 970px;
        height: 178px;
    }
    #campaigns .item:last-child {
        margin-right: -9px;
    }
    #campaigns .controls {
        display: block
    }
}
@media screen and (max-width: 1000px) {
    #campaigns {
        width: 750px;
        height: 178px;
    }
    #campaigns .controls {
        display: block
    }
}
@media screen and (max-width: 767px) {
    #campaigns {
        width: 530px;
    }
    #campaigns .controls {
        display: block
    }
}
@media screen and (max-width: 550px) {
    #campaigns {
        width: 100%;
    }
    #campaigns .controls {
        display: block
    }
}
@media screen and (max-width: 475px) {
    .item.active {
        width: 300px !important;
        height: 180px !important;
    }
    
    #campaigns {
        height: 220px;
    }
    #campaigns .controls {
        display: block
    }
}
