body {
  padding: 0; }

#campaigns {
  width: 1200px;
  height: 180px;
  display: block;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
  position: relative; }
  #campaigns:before, #campaigns:after {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    bottom: 0; }
  #campaigns:before {
    background: url("https://i.hizliresim.com/a1z4D2.png") scroll no-repeat left bottom;
    position: absolute;
    width: 75%;
    left: 0;
    z-index: -3; }
  #campaigns:after {
    background: url("https://i.hizliresim.com/a1z4D2.png") scroll no-repeat right bottom;
    width: 50%;
    right: 0;
    z-index: -1; }
  #campaigns .item {
    height: 140px;
    display: inline-block;
    transform: scale(0.6);
    -moz-transform: scale(0.6);
    -o-transform: scale(0.6);
    -webkit-transform: scale(0.6);
    margin-right: 0px;
    width: 0;
    position: relative;
    left: 100px;
    margin: -2.7px;
    opacity: 0;
    top: -100px;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s; }
    #campaigns .item img {
      width: 100%; }
    #campaigns .item:last-child {
      margin-right: 0; }
    #campaigns .item.active {
      margin: 0px;
      top: 0px;
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15), 0 5px 2px rgba(0, 0, 0, 0.25);
      transform: scale(1);
      opacity: 1;
      -moz-transform: scale(1);
      -o-transform: scale(1);
      -webkit-transform: scale(1);
      left: 0px;
      margin-right: 7px;
      width: 220px;
      transition: all .5s;
      -webkit-transition: all .5s;
      -moz-transition: all .5s;
      -o-transition: all .5s; }
    #campaigns .item a {
      background: #f7a600;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none; }
      #campaigns .item a strong {
        color: #8a5d00;
        padding: 10px;
        font-family: "Trebuchet MS", sans-serif;
        font-size: 13px; }
    #campaigns .item:hover a {
      opacity: 1; }
  #campaigns .controls {
    background: url(https://i.hizliresim.com/AyzgMX.png) no-repeat center center/contain;
    width: 100px;
    height: 39px;
    position: absolute;
    right: 50px;
    bottom: 5px;
    display: none; }
    #campaigns .controls button {
      background: transparent;
      border: none;
      color: #382617;
      line-height: 54px;
      width: 13px;
      text-align: center;
      display: inline-block;
      padding: 0;
      outline: none; }

@media screen and (max-width: 1219px) {
  #campaigns {
    width: 970px;
    height: 178px; }
  #campaigns .item:last-child {
    margin-right: -9px; }
  #campaigns .controls {
    display: block; } }

@media screen and (max-width: 1000px) {
  #campaigns {
    width: 750px;
    height: 178px; }
  #campaigns .controls {
    display: block; } }

@media screen and (max-width: 767px) {
  #campaigns {
    width: 530px; }
  #campaigns .controls {
    display: block; } }

@media screen and (max-width: 550px) {
  #campaigns {
    width: 100%; }
  #campaigns .controls {
    display: block; } }

@media screen and (max-width: 475px) {
  .item.active {
    width: 300px !important;
    height: 180px !important; }
  #campaigns {
    height: 220px; }
  #campaigns .controls {
    display: block; } }
